<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Weather Data For European Cities</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/full-slider.css" rel="stylesheet">

    <!-- Weather-icon css -->
    <link href="css/weather-icons.min.css" rel="stylesheet">


  </head>

  <body>
    <div ng-app="weatherApp" ng-controller="mainController">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Weather Map</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li ng-repeat="eurocity in eurocities" data-target="#carouselExampleIndicators" data-slide-to="$index" ng-class="{{$index}} == 0 ? 'active' : ''"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item" ng-class="{{$index}} == 0 ? 'active' : ''" ng-repeat="info in infoDetails" style="background-image: url('./images/1.jpg')">
            <div class="carousel-caption d-none d-md-block" id="info.euroId">
              <div> <h1>City: <a href='' ng-click="showSeaLevel(info.euroId)">{{info.city}}</a></h1>
                <h3>{{info.temp}} &deg;C</h3>
              </div>
              <div>
                 <h3>Sunrise:{{info.sunrise}}</h3>
                 <h3>Sunset:{{info.sunset}}</h3>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header> 
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container" ng-show="showData">
          <div class="row">
            <div class="col xs-2" ng-repeat="data in seaLevelData">
               <p class="m-0 text-white">{{data.time}}</p>
                <p class="m-0 text-white">{{data.day}}</p>
                <i class="wi wi-day-snow text-white"></i>
                <p class="m-0 text-white">{{data.seaLevel}} hpA</p>
            </div>
          </div>
      </div>
      <!-- /.container -->
    </footer>
  </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="app.js"></script>

  </body>

</html>
